.bg-custom-1 {
    background-color: #85144b;
  }
  
  .bg-custom-2 {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  }



  img, svg {
    vertical-align: middle;
    margin-right: 0.5rem;
}

.avatar{
  float: right !important;
  margin-left: auto;
  display: flex;
}